<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pageTitle %}
            Lab5
            {% endblock %}
    </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="jumbotron bg-warning">
        <h1 class="display-4 text-white" >Forms Example Site</h1>

        <p>SYS 394 - ISD</p>
    </div>

{% block pageContent %}
    File not found frick off
{% endblock %}

<hr>
</div>
</body>
</html>