{% extends 'base.html' %}

{% block content %}
<br>
<style>

</style>
	{# raw #}
	<div class=container chart_holder>
		<h2> Household Trend </h2>
		<div id="chart1"> </div>
	<script>
	// Helper Functions ---------------------
	var datetime = {'datetime':function(year,month,day,hour,minute){
			newDay =  new Date(year,month,day,hour,minute);
			return newDay;
			}
	};

	function epochToDate(epochStr){
		var epochInt= parseInt(epochStr,10);
		converted_date = new Date(epochInt);
		return converted_date;
	}

	function getMonthYear(d){
		let month = d['PURCHASE'] - 1;
		let year = d['YEAR']
		date = new Date(year, month)
		return date;
	}

	function addDays(date, days) {
	  var result = new Date(date);
	  result.setDate(result.getDate() + days);
	  return result;
	}

	function addHours(date, hours) {
	  var result = new Date(date);
	  result = new Date(result.getTime() + (hours*60*60000));
	  return result;
	}
	
	function addMinutes(date, minutes) {
	  var result = new Date(date);
	  result = new Date(result.getTime() + (minutes*60000));
	  return result;
	}

	function increaseXScale(ammount,interval){
		console.lg("increasing xScale by ",ammount,interval)
	}
	///-----------------------------
	var chartList = ['chart1'];
	var data = {{data|safe}};
    console.log("Got data",data)
	
	var yScale 
	var xAxisScale
	var line_indicators = [];
	var ch_width = 600;
	var ch_height = 400;
	var ch_marginLeft = 10;
	var ch_marginRight = 0;
	var ch_marginTop = 10;
	var ch_marginBottom = 10;
	var bar_width =15;
	var bar_padding = 3;
	var transform = d3.zoomIdentity;
	var yZoom = 0.000;
	var padding = 30;
	var x1Zoom = 0;
	var x2Zoom = 5;


	// RENEWED STUFF since old stuff was not working
	const margin = 34;
    const width = 1000 - (2 * margin);
    const height = 400 - (2 * margin);

	for (i in chartList){
		chartID = chartList[i];
		draw_chart(chartID,data);
	}
    // take data and parseDate
    /*temperatures.forEach(function(d) {
        d.onDate = parseDate(d.onDate);
        console.log(d.onDate)
        return d;
        })
    */
	function draw_chart(chartID,data){
        //Load any selected specific actions here
		draw_chart_data(chartID,data);
	}
	function draw_chart_data(chartID,data){
		var dynamicElements = [];
		var start_date = getMonthYear(data[0])
		var end_date = getMonthYear(data[data.length-1])
		
		start_date = d3.min(data, function(d){return getMonthYear(d)})
		end_date = d3.max(data, function(d){return getMonthYear(d)})
		
		yScale = d3.scaleLinear() // TODO: Get max of all stuff
			.range([height,60])
			.domain([0,d3.max(data, function(d){return d['TOTAL']})])//d3.min(data, function(d) {return d['TOTAL']})-yZoom])
		
		xScale = d3.scaleTime()
			.range([0,width -60])
			.domain([start_date,end_date])
		//.padding(0.2)
		
	
		var chart_area = d3.select("#"+chartID).append("svg")
			.attr('width', width)
			.attr('height',height )
			.style("background-color", 'LightGray');
			
			var interactive_chart = chart_area.append('g')
			.attr('transform', `translate(${margin}, ${margin})`);
			//.attr("transform", "translate(" + margin + ","+margin + ")") // can use the other one
		

		interactive_chart.append('g')
			.attr('transform', `translate(0, ${height - 60})`)
			.attr("class", "axis")
			.call(d3.axisBottom(xScale));
		
		interactive_chart.append("g")
			.attr("class", "axis")
			.attr('transform', `translate(0, -60)`)

			.call(d3.axisLeft(yScale));
			     
		
		

		// Drawing the actual chart
	    drawData(xScale,yScale);
		function drawData(xz,yz){
			console.log("drawing")
		    var OC_rects = interactive_chart.selectAll(".bars").data(data).enter().append("rect");
			OC_rects.attr("id","bar")
			.attr("class","bars")
			.attr("x", function(d,i) {
					monthYear = getMonthYear(d)
					//console.log("pre",my_width/2,monthYear,xz(monthYear))
					//console.log("draw data x",xz(getMonthYear(d)) - (my_width/2))
					return xz(getMonthYear(d))
			})
			.attr("y", function(d,i){
					yPos = d['TOTAL'] //d['TOTAL']; // start up top and extend down
					//console.log(yPos,d['TOTAL'])
				return yz(yPos) - 60
			})
		        .attr("width",function(d,i){
					my_width = bar_width
					return bar_width;
			})
			.attr("height", function(d,i){
					var yDist;
					yDist = d['TOTAL'];
					//console.log(yDist)
					return  height - yz(yDist);
			})
			.attr("fill",function(d,i){
				fillColor = "#FF4900"
				return fillColor;
			})
			.attr("stroke", function(d,i){
                var strokeColor = "black";
				return strokeColor
			})
			.attr("stroke-width",2)

		}
	}

		      
	</script>

	</div>
	{# endraw #}
	
{% endblock %}

